<% if logged_in? %>
  
  <div class="row">
    <aside class="col-md-3 watslifeLeftBox">
      
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <div class = "row">
        
        <%= form_for(@micropost, url: filter_path) do |f| %>
          <div class = "col-md-12">
            <select name="micropost[location]" 
                    id="micropost_location"
                    class = "form-control">
              <option value="andhraPradesh">Andhra Pradesh</option>
              <option value="arunachalPradesh">Arunachal Pradesh</option>
              <option value="assam">Assam</option>
              <option value="bihar">Bihar</option>
              <option value="chhattisgarh">Chhattisgarh</option>
              <option value="goa">Goa</option>
              <option value="gujarat">Gujarat</option>
              <option value="haryana">Haryana</option>
              <option value="himachalPradesh">Himachal Pradesh</option>
              <option value="jammuAndKashmir">Jammu & Kashmir</option>
              <option value="jharkhand">Jharkhand</option>
              <option value="karnataka">Karnataka</option>
              <option value="kerala">Kerala</option>
              <option value="madhyaPradesh">Madhya Pradesh</option>
              <option value="maharashtra">Maharashtra</option>
              <option value="manipur">Manipur</option>
              <option value="meghalaya">Meghalaya</option>
              <option value="mizoram">Mizoram</option>
              <option value="nagaland">Nagaland</option>
              <option value="odisha">Odisha</option>
              <option value="punjab">Punjab</option>
              <option value="rajasthan">Rajasthan</option>
              <option value="sikkim">Sikkim</option>
              <option value="tamilNadu">Tamil Nadu</option>
              <option value="telangana">Telangana</option>
              <option value="tripura">Tripura</option>
              <option value="uttarPradesh">Uttar Pradesh</option>
              <option value="uttarakhand">Uttarakhand</option>
              <option value="westBengal">West Bengal</option>
              <option value="others">others</option>
            </select>
          </div>
          <div class = "col-md-12">
            <select name="micropost[typeofpost]" 
                    id="micropost_typeofpost"
                    class = "form-control">
              <option value="oldageHomes">Oldage Homes</option>
              <option value="orphanage">Orphanage</option>
              <option value="education">Education</option>
              <option value="employment">Employment</option>
              <option value="farmers">Farmers</option>
              <option value="health">Health</option>
              <option value="others">others</option>
            </select>
            <% #f.select :typeofpost, options_for_select([["Oldage Homes", "oldageHomes"], ["Orphanage", "orphanage"], ["others", "others"]]), class: "form-control"%>
          </div>
          <div class = "col-md-12">
            <%= f.submit "Filter", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
      </section>
    
    </aside>

    <div class="col-md-7">
      <div class = "row">
        <section class="micropost_form">
          <%= render 'shared/micropost_form' %>
        </section>
      </div>
      
      <h3>Posts</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="row">
    <aside class="col-md-3">
      <section class="user_info">
        Categories
      </section>
      <section class="micropost_form">
        Please log in to post <li><%= link_to "Log in", login_path %></li>
      </section>
    </aside>
    <div class="col-md-7">
     
      <h3>Posts</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% end %>
