<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    
    <div class = "row">
      <div class = "col-md-4">
        Location:
      </div>
      <div class = "col-md-8">
        <%= f.select :location, options_for_select([["Karnataka", "karnataka"], ["Andhra Pradesh", "andhraPradesh"], ["others", "others"]]), class: 'form-control' %>
      </div>
    </div>
    <div class = "row">
      <div class = "col-md-4">
        Type of post:
      </div>
      <div class = "col-md-8">
        <%= f.select :typeofpost, options_for_select([["Oldage Homes", "oldageHomes"], ["Orphanage", "orphanage"], ["others", "others"]]), class: 'form-control' %>
      </div>
    </div>
  </div>
  <%= f.text_area :content, placeholder: "Post something useful..." %>
  <%= f.submit "Post", class: "btn btn-primary wtPostButton" %>
<% end %>